
<div class="template-edit-panel">

  <div class="input-text-container">
    <span class="input-text-title">Edit Text</span>
    <br/>
    <textarea class="input-text"></textarea>
  </div>

  <div class="font-size-container">
    <span class="font-size-title">Edit Font Size</span>
    <br/>
    <input type="number" class="font-size">
  </div>

  <div class="panel-button-container">
    <button class="btn-cancel" (click)="onCancel()">Cancel</button>
    <button class="btn-save" (click)="onSaveChanges()">Save</button>
  </div>

</div>

